.cadastro{
    background-color: #BDB8B8;
    width: 100%;
}

.cadastro-dois{
    background-color: #fff;
    width: 45rem;
    height: 45rem;
}

.custom-btn{
    background-color:#0d6efd;
    color: #fff;
}

.search-icon{
    top: 20%;
    right: 15px; 
}

.flag{
    background-color: #027cb55e;
    color:#3b71e4;
    border-radius: 5px;
    padding: 0 15px;
}

.calendar-container{
    display: grid;
    grid-template:  50px repeat(6, 1fr) / repeat(7, 1fr);
    overflow: hidden;
    width: 100%;
    height: 85%;
}

.other-day, .day{
    border: 1px solid #DBDCDE;
}

.other-day{
    color: #89868D;
    background-color: #FAFBFF; 
}
.title{
    background-color: #F4F5F9;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.color-one, .color-two, .color-three, .color-four{
    text-align: center;
    width: 100%;
}

.color-one{
    background-color: #0107ba5c;
    border-left: 3px solid #0106BA;
    color: #0106BA;
}

.color-two{
    background-color: #fbbd054a;
    border-left: 3px solid #FBBC05;
    color: #FBBC05 ;
}

.color-three{
    background-color: #008fd15d;
    border-left: 3px solid #008FD1;
    color: #008FD1;
}

.color-four{
    background-color: #f41e1e4c;
    border-left: 3px solid #F41E1E;
    color: #F41E1E
}

