.cadastro{
    background-color: #BDB8B8;
    width: 100%;
}

.search-icon{
    top: 20%;
    right: 8px; 
}



.custom-users{
    gap: 15%;
}

.custom-btn{
    display: flex;
    justify-content: end;
   
}

#custom-btn{
    background-color:#0d6efd;
    color: #fff;
    padding: 10px;
    width: 10%; 
    

}